table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    width: 500px;
    padding: 10px;
    font-size: large;
}
figcaption{
    text-align: center;
}
table{
    margin: auto;
}
.box{
    background-color: rgb(189, 189, 189);
    width: 510px;
    margin: auto;
}